/* CSS*/
body{
    margin: 0px;
    font-family: 'Lato', sans-serif;
}

.ventanas > .cabecero {
    display:grid;
    grid-template-columns: 2fr;
    margin-top: 0px;
    height: 250px;
    background: linear-gradient(163deg, rgba(82,77,77,1) 0%, rgba(19,14,14,1) 50%, rgba(0,0,0,1) 100%);
}

.ventanas > .cabecero > .titulo {
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-weight:900;
   font-size: 30px;
   color: #cdcdcd;
   height: 85px;
   padding: 0px 20px 20px 350px;
   margin-top: 0px;
   justify-content: center;
   position: center;
   margin-bottom: -20px;
}
.ventanas > .cabecero > .subtitulo {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:900;
    font-size: 25px;
    color: #cdcdcd;
    height: 55px;
    margin-top: 0px;
    justify-content: center;
    position: center;
    margin-bottom: 20px;
    margin-left: -35px;
 }