body{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    font-family: 'Lato', sans-serif;
}

.central{
    padding:20px 100px 20px 100px;
    text-align: justify;
    hyphens: auto;
    color:black;
    background: radial-gradient(circle, rgba(228,229,238,1) 30%, rgba(82,79,79,1) 100%);
}

h2{
    text-align: center;
}

h3{
    padding: 0px 0px 0px 300px;
}

a{
    text-decoration: none;
}

.enlaces {
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    height: 60px;
}

@mixin botones1{
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    position: relative;
    font-family: inherit;
    font-size: 1rem;
    font-weight: bold;
    text-shadow: none;
    line-height: 1.2;
    white-space: nowrap;
    text-decoration:none;
    cursor: pointer;
    background: linear-gradient(315deg, rgba(134,8,31,1) 0%, rgba(73,10,10,1) 50%, rgba(45,43,44,1) 100%);
    color: #cbcbcb;
    padding: 10px 10px 10px 10px;
    margin: 7.5px 20px 0px 0px;
    border-radius: 4px;
    border: 3px solid;
    border-color: #cbcbcb;
    outline:none;
}

@mixin botones2{
    transform: translateY (1px);
}

@mixin botones3{
    background: linear-gradient(163deg, rgba(244,234,234,1) 0%, rgba(213,182,182,1) 50%, rgba(91,72,72,1) 100%);
    color: rgba(73,10,10,1);
    font-weight: bold;
    outline-offset: 3px;
    border-color: rgba(73,10,10,1);
}

.enlaces > .sobremi a, .formacad a, .formcomp a, .exlab a, .conoz a, .otros a{
    @include botones1;
}

.enlaces > .sobremi a:active, .formacad a:active, .formcomp a:active, .exlab a:active, .conoz a:active, .otros a:active{
    @include botones2;
}

.enlaces > .sobremi a:hover, .formacad a:hover, .formcomp a:hover, .exlab a:hover, .conoz a:hover, .otros a:hover,.enlaces > .sobremi a:focus, .formacad a:focus, .formcomp a:focus, .exlab a:focus, .conoz a:focus, .otros a:focus {
    @include botones3;
}
