.central > .estudios > .imalogos {
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    text-align: center;
    padding: 0px 200px 0px 200px;
}
.central > .estudios > .imalogos > .imauja img{
    width: 20em;
    height: 15em;
}

.central > .estudios > .imalogos > .imauli img{
    width: 14em;
    height: 15em;
}