/* SCSS */

@mixin tamañofoto{
    width: 9em;
    height: 9em;
}

@mixin gridtexto{
    display:grid;
    grid-template-columns: 2fr;
}

@mixin gridcolumnas{
    display: grid;
    grid-template-columns: 0.9fr 1.1fr;
}

$padding: 15px 0px 0px 300px;

/* CSS */
.gestamp img, .altran img, .esasolar img, .cosentino img, .laulagun img, .safetech img{
    margin-top: 5px;
    border: 2px solid transparent;
    border-radius: 0.5rem;
}

.central > .gestamp img{
    @include tamañofoto;
}

.central > .gestamp{
    @include gridtexto;
}

.central > .gestamp > .infogestamp{
    @include gridcolumnas;
}

.central > .gestamp > .infogestamp img{
    padding: $padding
}

.central > .altran img{
    @include tamañofoto;
}

.central > .altran{
    @include gridtexto;
}

.central > .altran > .infoaltran{
    @include gridcolumnas;
}

.central > .altran > .infoaltran img{
    padding: $padding;
}

.central > .esasolar img{
    @include tamañofoto;
}

.central > .esasolar{
    @include gridtexto;
}

.central > .esasolar > .infoesasolar{
    @include gridcolumnas;
}

.central > .esasolar > .infoesasolar img{
    padding: $padding;
}

.central > .cosentino img{
    @include tamañofoto;
}

.central > .cosentino{
    @include gridtexto;
}

.central > .cosentino > .infocosentino{
    @include gridcolumnas;
}

.central > .cosentino > .infocosentino img{
    padding: $padding;
}

.central > .laulagun img{
    @include tamañofoto;
}

.central > .laulagun{
    @include gridtexto;
}

.central > .laulagun > .infolaulagun{
    @include gridcolumnas;
}

.central > .laulagun > .infolaulagun img{
    padding: $padding;
}

.central > .safetech img{
    @include tamañofoto;
}

.central > .safetech{
    @include gridtexto;
}

.central > .safetech > .infosafetech{
    @include gridcolumnas;
}

.central > .safetech > .infosafetech img{
    padding: $padding;
}

@mixin botones7{
    display: grid;
    grid-gap: 10px;
    align-items: center;
    vertical-align: middle;
    position: relative;
    font-family: inherit;
    font-size: 1.2em;
    font-weight: bold;
    text-shadow: none;
    line-height: 1.2;
    white-space: nowrap;
    text-decoration:none;
    cursor: pointer;
    background: linear-gradient(176deg, rgb(3, 44, 84) 46%, rgb(91, 138, 200) 100%);
    color: rgb(239, 232, 232);
    text-align: center;
    padding: 5px 50px 5px 50px;
    margin: 0px 0px 0px 0px;
    border-radius: 4px;
    border: 3px solid;
    border-color: rgb(239, 232, 232);
    outline:none;
}

@mixin botones8{
    transform: translateY (1px);
}

@mixin botones9{
    background: radial-gradient(circle, rgb(205, 132, 200) 0%, rgb(99, 32, 95) 100%);
    color: rgb(10, 8, 49);
    font-weight: bold;
    outline-offset: 3px;
    border-color: rgb(5, 16, 6);
}


.resumenexp > .enlaces-experiencia-grid > .Gestamp a, .Altran a, .Esasolar a, .Cosentino a, .Laulagun a, .Safetech a{
    @include botones7;
}

.resumenexp > .enlaces-experiencia-grid > .Gestamp a:active, .Altran a:active, .Esasolar a:active, .Cosentino a:active, .Laulagun a:active, .Safetech a:active{
    @include botones8;
}

.resumenexp > .enlaces-experiencia-grid > .Gestamp a:hover, .Altran a:hover, .Esasolar a:hover, .Cosentino a:hover, .Laulagun a:hover, .Safetech a:hover,.resumenexp > .enlaces-experiencia-grid > .Gestamp a:focus, .Altran a:focus, .Esasolar a:focus, .Cosentino a:focus, .Laulagun a:focus, .Safetech a:focus {
    @include botones9;
}


.central > .inicio > .resumenexp {
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.central > .inicio > .resumenexp > .explaboral-img{
    display:grid;
    grid-template-rows: 1fr 3fr;
}

.central > .inicio > .resumenexp > .explaboral-img > .mapalaboral img{
    width: 30em;
    height: 20em;
    padding: 10px 0px 0px 0px;
    margin-top: 30px;
}

.central > .inicio > .resumenexp > .explaboral-img > .lineatiempos img{
    width: 20em;
    height: 55em;
    padding: 30px 0px 10px 75px;
    margin-top: 20px;
}

.central > .inicio > .resumenexp > .enlaces-experiencia-grid {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 75px;
}

.ul{
    justify-content: justify;
    hyphens: auto;
}

.central{
    margin-bottom: -40px;
}

.inicio p{
    margin-bottom: 40px;
}